@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", serif; 
   scroll-behavior: smooth;
}

.logo{
    height: 50px;
    width: 50px;
    border: 0px;
    border-radius: 50px;
    margin: 0px 20px;

}
body{
    /* background-image: url(https://t3.ftcdn.net/jpg/02/14/87/96/360_F_214879686_R3HFJlk6WLr1kcdvy6Q9rtNASKN0BZBS.jpg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     */
     background: linear-gradient(black,rgb(53, 203, 244));
}
header{
    color: rgb(249, 245, 245);
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    border: 0px;
    background: linear-gradient(rgb(117, 216, 234),black);
    margin: 50px;
    border-radius: 40px 40px;
    align-items: center;
    font-size: 1.1rem;
   
   
 
  }  
nav ul {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
    
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    color: rgb(248, 222, 222);
   margin: 0px 70px;
   text-decoration: none;
   transform: scale(1.1);
    transition: all 5s ease;
     
}
nav ul li a:hover{
    color: rgb(62, 140, 157);
    
}
.navbar{
    display: flex;
    margin-right: 35px;
}
.mine{
    height: 300px;
    width: 300px;
    border: 0px;
    border-radius: 140px;
    margin-right: 80px;
    border: 1px solid;
    /* box-shadow: 5px 0px rgb(134, 219, 234), 10px 10px rgb(30, 196, 226); */

    
}
.content{
    color: #edf4f7;
    padding:  20px 50px;
    font-size: 1.15rem;
    /* margin-right: 20px; */
}
.para{
    width: 350px;

}
section{
    display: flex;
    justify-content: space-around;
    margin:10px 10px;
    gap: 30px;
}
.skills{
    padding: 30px;
    margin: 20px;
}
.skills>img{
     height: 130px;
     width: 140px;
     padding: 20px;
     border: 0px;
     border-radius: 40px;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    
}
.cls1{
    padding-left: 70px;
}

.education {
    color: rgb(217, 221, 214);
    margin: 40px;
    font-size: 1.2rem;
    
}
.Contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 260px;
    margin: 10px 30px;

}
footer{
    color: #8df6f1;
    display: flex;
    justify-content: center;
}
#heading{
    
}
