body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS8na3m1SwckKrNP5InpZX8gueh8w8qg3oJg&s');
  height: 500px;
}




.heading{
    border: 5px double orangered; /* border-right: 5px double orangered; */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
       /* border-left:none;
      border-bottom:none; */
    width: fit-content; /* fit-content how much line want for text*/
    padding: 20px 30px 40px;
    /* a b -- a-top,bottom
                  b-left,right
          a b c -- a-top
                   b-left,right
                   c-bottom
          a b c d -- top right bottom left*/
          margin: 100px;

}